.navbar-light .navbar-nav .nav-link{
    font-weight: bolder;
    font-size: 18px;
    border-bottom: 2px solid #ff3e8d;
}

.navbar-light .navbar-brand{
    color: rgba(0, 0, 0, 0.8);
}

.badge-primary {
    color: #ffffff;
    background-color: #ff3e8d;
    font-weight: bold;
}

.jumbotron{
    text-align: center;
    background-color: white;
    padding: 0;
}

.jumbo-logo{
    width: 300px;
}

.search-product-container{
    margin-top: 25px;
}

.input-group-text{
    background-color: #ff3e8d;
    border: none;
}

.input-group>.form-control:not(:last-child) {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

.search-btn{
    margin-left: 10px;
    font-weight: bold;
}


.product-photo{
    width: 70%;
    margin: 0 auto;
    margin-top: 5px;
}

.single-product-photo{
    width: 40%;
    margin: 0 auto;
    margin-top: 5px;
}

.price-tag{
    font-weight: bold;
    font-size: 19px;
}

.card{
    padding: 0;
}

.card-header{
    background-color: #ff3e8d;
    color: white;
    font-weight: bolder;
}

.btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active{
    color: white !important;
}

.btn-primary{
    background-color: #ff3e8d;
    border: none;
}

.btn-primary:hover{
    background-color: #e8679d;
    border: none;
}

.btn-primary:focus{
    background-color: #e8679d;
    border: none;
}

.load-btn, .load-btn:hover, .load-btn:active, .load-btn:focus{
    width: 100%;
    color: white !important;
}

.amount-label{
    color: white;
}

.btn-outline-warning{
    margin-right: 10px;
}

.btn-outline-warning:hover{
    color: white;
}

.dashboard-link{
    color: #e4932c;
}

.dashboard-link:hover{
    color: #ffb551;
}

.price-list-item{
    font-size: 20px;
    font-weight: bold;
}

.search-result{
    padding-right: 15px;
    padding-left: 15px;
}

.create-product-photo{
    background-color: #ff3e8d;
    border: none;
}
.create-product-photo:hover{
    background-color: #ff3e8d;
    border: none;
}

.create-product-form{
    margin-bottom: 20px;
}

.nav-logo-fox{
    width: 40px;
}

.navbar-brand{
    font-weight: bold;
    color: #5a5d8a;
}

.layout-parent{
    height: 100vh;
}

#layout-child{
    height: auto;
    min-height: 70%;
}

.footer-hr{
    margin-top: 40px;
    border-top: 2px solid #ff3e8d;
}

.page-footer{
    height: 10%;
    padding-top: 40px;
    line-height: 2;
}

.confirmation-page{
    text-align: center !important;
}

.footer-list{
    list-style: none;
}

.footer-list-item{
    color: #aca7a7;
}

.footer-list-item:hover{
    color: #8b8787;
}

.radios-filter{
    margin-left: 3px;
}

.filter-label{
    margin-left: 20px;
}

.product-title{
    padding: 0;
}

.badge{
    margin-right: 10px;
}

.dashboard-card{
    margin-top: 20px;
}

.shop-cart{
    margin-bottom: 20px;
}

.shop-cart-title{
    font-weight: bold;
}

.filter-section{
    position: fixed;
}

.filter-button{
    color: white;
    width: 50%;
    margin-bottom: 20px;
}

.filter-button:hover, .filter-button:focus{
    color: white !important;
    background-color: #ff3e8d !important;
}

.base-btn, .base-btn:hover, .base-btn:focus{
    color: white !important;
    background-color: #ff3e8d !important;
}

.to-card-link{
    color: #ffc107;
}

.to-card-link:hover{
    color: white;
}

.to-card-link:active{
    color: white;
}

#shop-page-cart{
    width: 50%;
}

@media only screen and (max-width: 426px ) {
    .page-footer{
        text-align: center;
    }

    .footer-list{
        padding: 0;
    }

    .related-product{
        margin-top: 20px;
    }

    .filter-button{
        width: 100%;
    }

    .filter-section{
        position: relative;
    }

    #shop-page-cart{
        width: 100%;
    }

}
