.navbar-light .navbar-nav .nav-link{
    font-weight: bolder;
    font-size: 18px;
    border-bottom: 2px solid #ff3e8d;
}

.badge-primary {
    color: #ffffff;
    background-color: #ff3e8d;
    font-weight: bold;
}

.jumbotron{
    text-align: center;
    background-color: white;
    padding: 0;
}

.jumbo-logo{
    width: 300px;
}

.input-group-text{
    background-color: #ff3e8d;
    border: none;
}

.input-group>.form-control:not(:last-child) {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

.search-btn{
    background-color: white;
    margin-left: 10px;
    font-weight: bold;
    color: #e4932c;
}

.product-photo{
    width: 70%;
    margin: 0 auto;
    margin-top: 5px;
}

.single-product-photo{
    width: 40%;
    margin: 0 auto;
    margin-top: 5px;
}

.price-tag{
    font-weight: bold;
    font-size: 19px;
}

.card{
    padding: 0;
}

.card-header{
    background-color: #ff3e8d;
    color: white;
    font-weight: bolder;
}

.btn-primary{
    background-color: #ff3e8d;
    border: none;
}

.btn-primary:hover{
    background-color: #e8679d;
    border: none;
}

.btn-primary:focus{
    background-color: #e8679d;
    border: none;
}

.load-btn{
    width: 100%;
    color: white;
}

.load-btn:hover{
    color: white;
}

.amount-label{
    color: white;
}

.btn-outline-warning{
    margin-right: 10px;
}

.btn-outline-warning:hover{
    color: white;
}

.dashboard-link{
    color: #e4932c;
}

.dashboard-link:hover{
    color: #ffb551;
}

.price-list-item{
    font-size: 20px;
    font-weight: bold;
}

.search-result{
    padding-right: 15px;
    padding-left: 15px;
}

.create-product-photo{
    background-color: #ff3e8d;
    border: none;
}
.create-product-photo:hover{
    background-color: #ff3e8d;
    border: none;
}

.create-product-form{
    margin-bottom: 20px;
}

.nav-logo-sweater{
    width: 80px;
}

.navbar-brand{
    font-weight: bold;

}

.page-footer{
    margin-top: 80px;
    padding-top: 5px;
    border-top: 2px solid #ff3e8d;
}

.footer-list{
    list-style: none;
}

.footer-list-item{
    color: #aca7a7;
}

.footer-list-item:hover{
    color: #8b8787;
}

.radios-filter{
    margin-left: 3px;
}

.filter-label{
    margin-left: 20px;
}

.product-title{
    padding: 0;
}

.badge{
    margin-right: 10px;
}

.dashboard-card{
    margin-top: 20px;
}

.shop-cart{
    margin-bottom: 20px;
}

.shop-cart-title{
    font-weight: bold;
}

.filter-section{
    position: fixed;
}

@media only screen and (max-width: 426px ) {
    .page-footer{
        text-align: center;
    }

    .related-product .filter-button{
        margin-top: 20px;
    }
}
